/.obsidian/hotkeys.json
/.obsidian/workspace.json
/.obsidian/workspace-mobile.json
#/.obsidian/community-plugins.json
/.obsidian/plugins/cursor-position-history/cursor-position-history.json
/.obsidian/plugins/obsidian-git/obsidian_askpass.sh
#/.obsidian/plugins
/.obsidian/plugins/
/.obsidian/plugins
/.obsidian/plugins
/.obsidian/plugins
/.obsidian/plugins
/.obsidian/plugins
