/.obsidian/hotkeys.json
/.obsidian/workspace.json
/.obsidian/workspace-mobile.json
#/.obsidian/community-plugins.json
/.obsidian/plugins/obsidian-git/obsidian_askpass.sh
#/.obsidian/plugins
/.obsidian/plugins/unicode-search
/.obsidian/plugins/show-whitespace-cm6
/.obsidian/plugins/obsidian-latex-suite
/.obsidian/plugins/obsidian-html-tags-autocomplete
/.obsidian/plugins/obsidian-git
/.obsidian/plugins/obsidian-completr
/.obsidian/plugins/cursor-position-history
/.obsidian/plugins/better-comment-toggle
/.obsidian/plugins/auto-close-tags